@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
.background_description{
    background-color: #FFFFFF;
    height: auto;
    width: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 9px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.band_description{
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #374151;
    text-align: center;
}
.wrapper_description{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 95%;
    align-self: center;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.photo_description{
    max-height: 400px;
    max-width: 600px;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    justify-self: center;
}
.block_description{
    border-radius: 16px;
    border: 1px #CCCCCC solid;
    margin: 0;
    padding: 20px;
    display: grid;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.text_description_medium{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 20px;
}
.text_description_regular{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}
.text_description_regular_genre{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.text_description_regular_bold{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.genre_text_description{
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-bottom: 0;
    justify-content: center;
    justify-items: center;
    gap: 15px;
}
@media (max-width: 1430px) {
    .wrapper_description {
        grid-template-columns: 100%;
    }
    .background_description{
        height: auto;
    }
}
.block_description_text{
    border-radius: 16px;
    border: 1px #CCCCCC solid;
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
}
.title_description{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    margin: auto;
}
